@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');


* {
  font-family: 'Inter', sans-serif;
}

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "NeueMontreal-Medium";
}

h1>b,
h2>b,
h3>b,
h4>b,
h5>b,
h6>b {
  font-family: "NeueMontreal-Regular";
}

h1>i,
h2>i,
h3>i,
h4>i,
h5>i,
h6>i {
  font-family: "FarnhamText-BoldItalic";
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}
section {
    width: 100%;
    overflow:hidden;
}
.row.justify-content-center,
    .row, .row.g-0 {
        width: 100%;
        overflow:hidden;
    }
.nav-bar-menu .nav-item {
  margin: 4px 8px;
  padding: 4px 8px;
}

.nav-bar-menu .nav-item .fa {
  font-size: 24px;
}

.nav-bar-brand a img {
  width: 200px;
  height: 55px;
}



.sidebar-nav-item-left ul li a {
  font-size: 60px;
  font-weight: 600;
}
.fixed {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    z-index: 999999;
}

.header {
  position: relative;

  .navbar {
    padding: 16px 80px 16px;

  }
}
.sidebar-header {
  padding: 0 80px;
  .navbar {
    padding: 40px 0px 25px;

  }
}

.header .sidebar-header {
  /* position: absolute; */
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: #c1cfd2;
  padding-top: 35px;
  z-index: 999999;
}

.sidebar-nav-item-left {
    width: 100%;
    max-width: 65%;
    display: flex;
    align-items: center;
}

.sidebar-nav-item-right {
  width: 100%;
  max-width: 35%;
  position: relative;
  padding-left: 80px;
}

.sidebar-nav-item-right::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: #c1c1c1;
}

.join-linked p i.fa {
  background-color: #000000;
  padding: 2px;
  font-size: 12px;
  border-radius: 1px;
  color: #ffffff;
}

.join-linked a p {
  position: relative;
  width: max-content;
}

.join-linked a p:before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #c1c1c1;
}


.sidebar-header {
  display: none;
}

.home-banner {
  .build-content {
    width: 100%;
    max-width: 80%;
    margin: auto;
  }

  .build-content h1 {
    font-size: 100px;
    line-height: 102px;
  }

  .build-content h1 i {
    font-weight: 600;
    position: relative;
  }

  .build-content h1 i::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 22px;
    background-color: #ffe381;
  }

  .build-content p {
    font-size: 18px;
  }

  .banner-slider {
    position: relative;
    margin-left: 31px;
    overflow: hidden;
    height:100%;
    max-height:800px;

    .big-box {
      position: relative;
      width: 100%;
    max-width: 70%;
    height: 100%;
    max-height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      z-index: -1;
    }

    .big-box-bg {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: #c1cfd2;
      z-index: -1;

    }

    .banner-box-big img {
      height: 100%;
      z-index: 0;
    }

    .banner-box-top .top-box {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
    max-width: 30%;
    height: 100%;
    max-height: 50%;
      overflow: hidden;

      .big-box-bg {
        background-color: #ffe381;
      }
    }

    .banner-box-top img {
      height: 100%;
    }

    .banner-box-bottom .bottom-box {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
    max-width: 40%;
    height: 100%;
    max-height: 50%;
      display: flex;
      justify-content: center;
      overflow: hidden;

      .big-box-bg {
        background-color: #93a8b1;
      }
    }

    .banner-box-bottom img {
      height: 100%;
    }
  }
}




.profession-sec {
  padding-bottom: 150px !important;
  .main-box {
    position: relative;
    overflow: hidden;

    .big-box {
      position: relative;
      height: 1000px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
    }

    .big-box-bg {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: #c1cfd2;
      z-index: -1;
    }

    .banner-box-big img {
      height: 100%;
      z-index: 0;
    }
  }

  .profession-content {
    /*padding-right: 48px;*/
    .join-linked a p i.fa {
      background-color: inherit;
      color: #000000;
    }
  }

  .profession-content .border-bott{
    font-size: 18px;
    position: relative;
    width: max-content;
    font-size: 20px;
  }
  .profession-content .border-bott i b {
    font-size: 18px;font-family: "NeueMontreal-Medium";
    font-size: 24px;
  }

  .profession-content p.border-bott::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 12px;
    background-color: #ffe381;
    z-index: -1;
  }
  .profession-content h2{
    font-size: 100px;
    font-family: "Neue Montreal", sans-serif;
    font-weight: 700;
  }
  .profession-content p{
    font-size: 18px;
  }


}

.multi-spacialist{
  position: relative;
  .main-box{
    position: relative;
    overflow: hidden;
  }
    .main-box .big-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.main-box .big-box-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #c1cfd29c;
    z-index: 0;
}
}
.multi-spacialist .spacilist-bg-img{
  position: absolute;
  right: 0;
  top: 0;
  width: 65%;
  height: 100%;
  z-index: -1;
}
.multi-spaciallist-content{
  z-index: 99;
  .Data-Analytics h2 {
    font-size: 95px;
    font-weight: 700;
    font-family: "Neue Montreal", sans-serif;
  }
  .join-linked p i{
    background-color: inherit;
    color: #000000;
  }
  .Data-Analytics{
    height: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .multi-titlte-cont p{
    font-size: 20px;
  }
  .multi-titlte-cont p b{
    font-size: 24px;
    font-family: "Neue Montreal", sans-serif;
  }
  .multi-titlte-cont .border-bott {
    font-size: 18px;
    position: relative;
    width: max-content;
    font-size: 20px;
}
.multi-titlte-cont p.border-bott::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 12px;
  background-color: #ffe381;
  z-index: -1;
}
}
.our-offers {
  .offer-cont-title p.border-bott::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 12px;
    background-color: #ffe381;
    z-index: -1;
  }
  .offer-cont-title .border-bott {
    font-size: 18px;
    position: relative;
    width: max-content;
    font-size: 20px;
}
.offer-cont-title p{
  font-size: 20px;
}
.offer-cont-title p b{
  font-size: 24px;
  font-family: "Neue Montreal", sans-serif;
}
.offer-cont-title h2{
  font-size: 100px;
  font-family: "Neue Montreal", sans-serif;font-weight: 700;
} 
}
.slider-flic{  

/* .gallery {
  background: #EEE;
} */

.gallery-cell {
  width: 22%;
  height: 500px;
  margin-right: 60px;
  background: #ffffff;
  counter-increment: gallery-cell;
}

.gallery-cell.is-selected {
  /* background: #ED2; */
  border: 1px solid #000000;
}

/* cell number */
/* .gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
} */
}
.slider-flic{
  position: relative;
  .slid-left-layer{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    max-width: 37%;
    height: 100%;
    background-color: #ffffff;
    /* display: none; */
  }
  .flickity-page-dots{
    display: none;
  }
  .flickity-prev-next-button:disabled {
    filter: alpha(opacity=30);
    opacity: 0.3;
    cursor: auto;
    z-index: 99999;
}
.flickity-prev-next-button {
  position: absolute;
  top: 50%;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  background: #c9c7c7;

  cursor: pointer;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 99999;
}
.flickity-prev-next-button.previous {
  left: 25%;
  top: 30%;
}
.flickity-prev-next-button.next {
  left: 25%;
  bottom: 30%;
}
.gallery-cell{
  border-radius: 16px;
  border: 1px solid #c1c1c1;
}
}
.offer-item-one h3{
  font-size: 36px;
  font-family: "Neue Montreal", sans-serif;font-weight: 700;
}
.offer-item-one p.border-bott::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 12px;
  background-color: #ffe381;
  z-index: -1;
}
.offer-item-one .border-bott {
  font-size: 18px;
  position: relative;
  width: max-content;
  font-size: 20px;
  z-index: 9;
}
.offer-item-one .border-bott i b {
  font-family: "NeueMontreal-Medium";
  font-size: 24px;
}
.gallery-cell {
  position: relative;
}
.box-for-bott{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px 50px;
}
.flickity-prev-next-button:hover {
  CONTENT: "";
  POSITION: absolute;
  background-color: #000000;
  overflow: hidden;
  color: #ffffff;
}
.flickity-prev-next-button:hover svg path{
  fill: #ffffff;
}

.our-clints {
  .profession-content {
    padding-right: 48px;
    .join-linked a p i.fa {
      background-color: inherit;
      color: #000000;
    }
  }

  .profession-content .border-bott{
    font-size: 18px;
    position: relative;
    width: max-content;
    font-size: 20px;
  }
  .profession-content .border-bott i b {
    font-size: 18px;font-family: "NeueMontreal-Medium";
    font-size: 24px;
  }

  .profession-content p.border-bott::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 12px;
    background-color: #ffe381;
    z-index: -1;
  }
  .profession-content h2{
    font-size: 100px;
    font-family: "Neue Montreal", sans-serif;
    font-weight: 700;
  }
  .profession-content p{
    font-size: 18px;
  }
.clint-gallery{
  overflow: hidden;
  .clint-logo{
    border:1px  solid #c4c4c4;
    height: 235px;
    width:  235px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

}
.lets-get-touch marquee h2{
  font-size: 320px;
}
.marque-sec{
  
.marquee {
  width: 100%;
  height: 380px;
  overflow: hidden;
  position: relative;
  z-index: -1;
}

.marquee div {
  display: block;
  width: 200%;
  position: absolute;
  overflow: hidden;

  animation: marquee 8s linear infinite;
}

.marquee span {
  float: left;
  width: 33%;
  font-size: 320px;
}


}
@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}
.lets-get-touch{
  position: relative;
  height: 100%;
  margin-top: -92px;
}

.image-box-contact {
  /* position: absolute;
  right: 0;
  top:-15%; */
  .main-box {
    position: relative;
    overflow: hidden;

    .big-box {
      position: relative;
      height: 800px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
    }

    .big-box-bg {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: #c1cfd2;
      z-index: -1;
    }

    .banner-box-big img {
      height: 100%;
      z-index: 0;
    }
  }
  /*.img-box-right{*/
  /*  width: 800px;*/
  /*}*/
}

.image-box-contact {
  /* position: absolute;
  right: 0;
  top:-15%; */
  .main-box {
    position: relative;
    overflow: hidden;

    .big-box {
      position: relative;
      height: 800px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
    }

    .big-box-bg {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: #c1cfd2;
      z-index: -1;
    }

    .banner-box-big img {
      height: 100%;
      z-index: 0;
    }
  }
  .img-box-right{
    width: 100%;
  }
}
.lets-touch{
  display: flex;
  justify-content: end;
  /*position: absolute;*/
  width: 100%;
  bottom: -68px;
}
.content{
  width: 100%;
  max-width: 100%;
  /* height: 600px; */
  padding: 120px 130px;
  background-color: #ffe381;
  }
.content h2{
font-size: 100px;
font-family: "NeueMontreal", sans-serif;
font-weight: 700;
}
.content p{
font-size: 22px;  
}
.footer{
  padding: 40px 100px 20px;
  margin-top: 150px;
  .brand-logo {
    height: 25px;
    width: 120px;
  }
  .brand-logo img{
    height: 100%;
    width: 100%;
  }
  .footer-links ul.t-link li{
    width: 33%;
  } 
  .recrumit-cont h2{
    font-size: 36px;
    font-family: "NeueMontreal", sans-serif;

  }
  .recrumit-cont li p{
    font-size: 16px;

  }
  .footer-links ul.t-link li a{
    font-size: 16px;
  } 
}
.recrumit-cont .footer-links .link-underline::after {
  border-width: 1px !important;
}

/* ///////////// our Expertises /////////////// */
.happy-ending .our-offers .slider-flic .offer-item-one>p{
  font-size: 20px;
  line-height: 29px;
}


.happy-ending .our-offers .slider-flic
.gallery-cell {
    height: 630px;
}
.multi-disover-spec{
  .content-spec h1{
    font-size: 120px;
    font-family: "Neue Montreal", sans-serif;
    font-weight: 600;
  }
  .content-spec P{
    font-size: 22px;
  }
  .multi-img-cont{
    .every-day-cont{
      background-color: #ffe381;
      height: 450px;
      display: flex;
      align-items: center;
      margin-bottom: 8px;
    }
    .every-day-cont p{
    font-size: 22px;
    margin-bottom: 0;


  }
}
} 
.every-day-img {
  .main-box {
    position: relative;
    overflow: hidden;
    width:100%;

    .big-box {
      position: relative;
      height: 800px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
    }

    .big-box-bg {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: #c1cfd2;
      z-index: -1;
    }

    .banner-box-big img {
      height: 100%;
      z-index: 0;
    }
  }
  .img-box-right{
    width: 100%;
  }
}


.the-scope{
  margin: 180px 0;
.top-title-advising .border-bott {
  font-size: 18px;
  position: relative;
  width: max-content;
  font-size: 20px;
}

.top-title-advising p.border-bott::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 12px;
  background-color: #ffe381;
  z-index: -1;
}
.top-title-advising h2{
    font-size: 100px;
    font-family: "Neue Montreal", sans-serif;
    font-weight: 600;
}
.service-one h2{
    font-size:32px;
    font-family: "Neue Montreal", sans-serif;
    font-weight: 600;

}
.services-data{
  margin-top: 100px;
  .service-one {
    margin: 0 80px 80px 0;
    position: relative;
  }
  .service-one::before {
    content: "";
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height:1px;
    background-color: #e3e3e3;
  }
  .service-one.link-underline{
    position: relative;
  }
  .service-one.link-underline::after {
    top: -40px !important;
    bottom: inherit;
    border-bottom: 2px solid;
}
.service-one.link-underline:hover::after, .link-underline:focus {
  color: currentColor;
  transform: scaleX(100%);
}
.service-one p{
  font-size:20px;
}
}
.accouria-box .accordion-item .accordion-body ul li p{
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0;
}
.accordion-item:not(:first-of-type){
  border: none;
}
.accordion-item:last-of-type {
  border: none;
}
.accordion-button:not(.collapsed){
  background-color: inherit;
  box-shadow: inherit;
}
.accordion-button{
  display: inherit;
}
.accordion-button:focus {
  z-index: 3;
  border-color:inherit;
  box-shadow: inherit;
}
.accordion-button::after {
  content: "\f067";
  background-image:inherit ;
  font-family: "fontawesome";
  font-size: 24px;
  font-weight: 300;
}

}
.single-text p{
  font-size: 30px;
}
.service-one ul li{
  border-bottom: 1px solid;
  margin-top: 12px;
}
.no-brde .service-one::before{
  background-color: inherit !important;
}

.happy-ending{
  .marque-sliderstop-run{
      width:100%;
      overflow:hidden;
    .marquee-content {
      display: flex;
      animation: scrolling 18s linear infinite;
    }
    
    .marquee-item {
      flex: 0 0 16vw;
      margin: 0 1vw;
    /*   flex: 0 0 20vw; */
    /*   margin: 0 2vw; */
    }
    
    .marquee-item img {
      display: block;
      width: 100%;
      padding: 80px;
    }
    
  }
}

@keyframes scrolling {
  0% { transform: translateX(0); }
  100% { transform: translatex(-144vw); }
}
.happy-ending  .marque-sliderstop-run:hover .marquee-content{
  animation-play-state: paused;
}


/* /////////// Candidate Page ///////////// */


.happy-ending.min-hight .our-offers .slider-flic .gallery-cell {
  height: 580px;
}
.cadidate-slider-marqee{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* height: 100vh; */
  .b-slider {
    overflow-x: hidden;
    min-width: 100%;
    outline: 0;
  }
  .b-slider:hover .b-slider__img {
    filter: grayscale(1) contrast(0) blur(1px);
  }
  .b-slider__slide {
    text-align: center;
    width: 26rem;
    height: 15rem;
    display: flex;
    align-items: center;
    margin: 0 24px;
  } 
  /* .flickity-viewport{
    height: 300px !important;
  } */
  .recruit-them-content-box{
    height: 100%;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #c1cfd2;
  }
  .recruit-them-content-box .join-linked{
    margin-top: 180px !important;
  }
}
.recruit-them-content-box .box-for-bott{
  text-align: left !important;
  height: 100%;
}
.slive-img{
  width: 100%;
  height: 700px;
  animation: incre-width 2s linear infinite ;
  animation-iteration-count: 1;
}
@keyframes incre-width {
  0% { width: 0%;}
  100% { width: 100%; }
}

.address-yam p{
  font-size:22px;
}
.spentan-form .form-check label{
  font-size: 15px;
}
.spentan-form .form-check label a{
  color: #7f7f7f;
}
.main-box-clon-tip .text span,.main-box-clon-tip .clone span{
  font-size: 36px;
  font-weight: 700;
  overflow: hidden;
  line-height: 40px;
  height: 40px;
}


/* ////////// spontaneous application ///////  */


.main-box-clon-tip {
  width: 100%;
  height: 170px;
  overflow: hidden;
  border: none;
  color: #000000;
  background: none;
  position: relative;
}

.main-box-clon-tip > div {
  position: absolute;
  width: 100%;
  /* height: 100%; */
  display: flex;
  flex-wrap: wrap;
}



.main-box-clon-tip .clone > *,.main-box-clon-tip .text > * {
  opacity: 1;
  transition: 0.2s;
  margin-left: 4px;
}

.main-box-clon-tip .clone > * {
  transform: translateY(210px);
}

.gallery-cell :hover .main-box-clon-tip .clone > * {
  opacity: 1;
  transform: translateY(0px);
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.gallery-cell :hover .main-box-clon-tip .text > * {
  opacity: 1;
  transform: translateY(-210px);
  transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.gallery-cell :hover .main-box-clon-tip .clone > :nth-child(1) {
  transition-delay: 0.2s;
}

.gallery-cell :hover .main-box-clon-tip .clone > :nth-child(2) {
  transition-delay: 0.3s;
}

.gallery-cell :hover .main-box-clon-tip .clone > :nth-child(3) {
  transition-delay: 0.4s;
}

.gallery-cell :hover .main-box-clon-tip .clone > :nth-child(4) {
  transition-delay: 0.5s;
}



.spon-app-btn {
  position: relative;
  background-color: transparent;
  /* color: #e8e8e8; */
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  width: 120px;
  height: 60px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  overflow: hidden;
  /* box-shadow: 0 10px 20px rgba(51, 51, 51, 0.2); */
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

.spon-app-btn::before {
  content: "I APPLY";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #000000;
  pointer-events: none;
  background: #ffe381;
  transform: translate(0%,100%);
  z-index: 99;
  position: relative;
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.spon-app-btn::after {
  content: "I APPLY";
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  color: #ffffff;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transform-origin: top;
  transform: translate(0%,-100%);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.spon-app-btn:hover::before {
  transform: translate(0%,0%);
}

.spon-app-btn:hover::after {
  transform: translate(0%,-200%);
}

.spon-app-btn:focus {
  outline: none;
}

.spon-app-btn:active {
  scale: 0.95;
}


.our-offers-sec .slider-flic
.gallery-cell {
  width: 31%;
    height: 500px;
    margin-right: 22px;
}























/* //////// link under link style ////////////// */

a {
  transition: all 0.4s cubic-bezier(.4, 0, .2, 1);
  text-decoration: none;
  color: currentColor;
}

.link-underline {
  position: relative;
}

.link-underline::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  border-bottom: 2px solid;
  border-color: #000000;
  transform: scaleX(0);
  transition: transform .4s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transform-origin: left;
}

.link-underline::after {
  border-width: 5px;
}
.join-linked .link-underline::after {
  border-width: 2px;
  bottom: -4px;
}

.link-underline:hover::after,
.link-underline:focus {
  color: currentColor;
  transform: scaleX(100%);
}
.image {
  width: 0%;
  opacity: 0;
  margin-left: 50%;
  transform: translateX(-148%);
  animation: slide-in-anim 2s ease-out forwards;
}
@keyframes slide-in-anim {
  20% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateX(-50%);
    width: 100%;
  }
}
.bog-box-layer {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  z-index: 9999;
}

.bog-box-layer {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #fff;
  left: -100%;
  top: 0px;
  animation: moving 2.3s linear;
  animation-delay: 5s;
}

@keyframes moving {
  from {
    left: -100%
  }
  to {
    left: 100%
  }
}
  .bog-box-tra{
  animation: zoom-img  1s linear;
}
@keyframes zoom-img { 
0% {
    transform: scale(1.3);
    opacity: 0;
}
50% {
    transform: scale(1.3);
    opacity: 0;
}
100% {
    opacity: 1;
    transform: scale(1);
}
}



.expertise-marq-one{
  
  .marquee {
    width: 100%;
    height: 160px;
    overflow: hidden;
    position: relative;
    z-index: -1;
  }
  
  .marquee div {
    display: block;
    width: 250%;
    position: absolute;
    overflow: hidden;
  
    animation: marquee-1 20s linear infinite;
  }
  
  .marquee span {
    float: left;
    width: max-content;
    font-size: 120px;
  }
  
  
  }
  @keyframes marquee-1 {
    0% { left: 0; }
    100% { left: -100%; }
  }
  .expertise-marq-two{
  
    .marquee {
      width: 100%;
      height: 160px;
      overflow: hidden;
      position: relative;
      z-index: -1;
    }
    
    .marquee div {
      display: block;
      width: 270%;
      position: absolute;
      overflow: hidden;
    
      animation: marquee-2 20s linear infinite;
    }
    
    .marquee span {
      float: left;
      width: max-content;
      font-size: 120px;
    }
    
    
    }
    @keyframes marquee-2 {
      0% { left: -100%; }
      100% { left: 0; }
    }
    
    .col-box-one .clint-logo img{
    width:100%;
}